<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log"
      throwConfigExceptions="true">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <targets>
    
    <target xsi:type="File" name="fullLogFile" fileName="${basedir}/logs/full.csv" encoding="shift-jis">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="date" layout="${shortdate}" />
        <column name="time" layout="${time}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true}" />
      </layout>
    </target>

    <target xsi:type="File" name="exceptionLogFile" fileName="${basedir}/logs/exception.csv" encoding="shift-jis">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="date" layout="${shortdate}" />
        <column name="time" layout="${time}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true}" />
        <column name="exception" layout="${exception:format=ToString}"/>
        <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
      </layout>
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="fullLogFile" />
    <logger name="*" minlevel="Error" writeTo="exceptionLogFile" />

  </rules>
</nlog>
